
  html{
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
body{
  margin: 0;
  height: 100vh;
  font-size:1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {height: 100%;}

/** Layout*/

.grid-container{
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100vh;
}       

/**Header*/
.primary-add{
  color: #ffffff;
  background-color: #22396b;
  position: relative;
  
  padding-top: .8rem;
  padding-bottom: .8rem;
  border: 1px solid #555555;
  border-radius: 5px;
  width: 100%;
 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.primary-add:hover{
  background-color: rgb(21, 129, 21);
}


header{
  grid-area: header;
  background-color: #125da8c5;
}

main{
  grid-area: main;
  padding: 1rem;

}
footer{
  grid-area: footer;
  background-color: #125da8c5;
  color: #ffffff;
}
/** Common */

h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2{
  font-size: 1.6rem;
  padding: 1rem 0;
}




a{
  text-decoration: none;
}
a:hover{
  color: #3c31dbe1;
  border-bottom: 1px solid rgb(255, 255, 255);
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

li{
  margin-top: 1rem;
}

button{
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #555555 solid;
  font-size: 1.6rem;
  background-color: #22396b;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;

}
header a{
  color: #ffffff;
  padding: 2rem;
}
a.brand{
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}
.row.center{
  justify-content: center;
}
.row.top{
  align-items: flex-start;

}
.col-1{
  flex: 1 1 25rem;
}
.col-2{
  flex: 2 1 50rem;
}

/**iMAGES*/

img{
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
img.medium{
  max-width: 29rem;
  width: 100%;
}
.img.large{
  width: 100%;
}

/**Card*/
.card{
  border: .1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: .5rem;
  margin: 1rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.card-body{
  padding: 1rem;
}
.card-body a:hover{
  color: #125da8c5;
}
.card-body h2{
  color: #22396b;
}
.card-body > * {
  margin-bottom: .5rem;
}

.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: #f0c040;
  border-color: #f0c040   ;
  margin: .1rem;
}
.rating span:last-child{
  color:#2a2d30e7
}
/* Alerts */  
.success{
  color: #20a020;
}
.danger{
  color: #a02020;
}
.alert{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.alert-danger{
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  justify-content: center;
  background-color: #d13535c2 ;
}
.alert-info{
  color: #2020a0;
  background-color: wheat;
}
.alert-error{
  color: #a02020;
  background-color:wheat;
}